body {
  margin: 0;
  font-family: Josefin sans;
  background: linear-gradient(to top, #F5F5F5 0%, #FFFFFF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  text-decoration: none;
}

h1{
  text-align: center;
}

.navbar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-size: 1.7em;
}

a{
  text-decoration: none;
  color: Black;
}

a:hover{
  border-bottom: 2px solid grey;
}

.navbar li{
  padding: 15px;
}

.home{
  text-align: center;
  font-size: 1.2em;
  margin-top: 5em;
}

#skills{
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

ol{
  list-style: none;
}

ol li{
  font-size: 1.3em;
  padding: 10px;
}


.titles{
  font-size: 1.5em;
  border-bottom: 2px solid grey;
  color: grey;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skill-title{
  text-align: center;
  font-size: 2.5em;
}

.home p{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 15px;;
}

footer{
  border-top: 2px solid grey;
  text-align: center;
}

#twitter{
  color: blue;
  border: none;
}
